@model IEnumerable<BookServiceModel>

<div class="row">

    @foreach (var book in Model)
    {
        <div class="col-md-4">
            <div class="box">
                <div class="img-box">
                    <img src="@book.ImageUrl" style="height: 400px;" alt="@book.Title">
                    <h4 class="blog_date">
                        <p class="font-italic font-weight-bold">@string.Join(", ", book.BookAuthors)</p>
                    </h4>
                </div>
                <div class="detail-box">
                    <h5 style="margin-bottom = 50px;">
                        @book.Title
                    </h5>
                   <h6 class="font-italic font-weight-bold">@string.Join(", ", book.BookGenres)</h6>
                    <p>
                        @book.Description...
                    </p>

                    @*@if (ViewBag.AllowBookEdit == true || User.IsAdmin())
                    {
                       
                *@
                   @* <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">
                        Delete
                    </a>*@
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id"class="btn btn-primary btn-lg"
                   role="button">Edit</a>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary btn-lg"
                   role="button">Read More</a>
                    
                </div>
            </div>
        </div>
    }
</div>

