@using System.Globalization;
@using BookWise.Extensions;
@model BookDetailsModel
@{
    
    ViewBag.Title = $"{Model.Title}";

}
<h2 class="text-center">@ViewBag.Title</h2>
<hr/>
<style>
    .star {
        color: orange; 
        font-size: 20px; 
    }
</style>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">
            <h2> by <i>
                    @foreach (var author in Model.Authors)
                    {
                        <a href="@Url.Action("Details", "Author", new { id = author.Id})"style="text-decoration: none;">@author.FirstName @author.LastName </a>
                        if (author != Model.Authors.Last())
                        {
                            <text>, </text>
                        }
                    }
                    </i>
            </h2>
            <a href="">
                @Model.ReviewsCount Reviews
            </a>
            <a href="">
                @Model.Rating Rating
            </a>
            <p>@Model.Description</p>
            <p><b>Genres: </b>@string.Join(", ", Model.BookGenres)</p>
            <p><b>Publisher: </b> @Model.Publisher</p>
            <p><b>Print length: </b> @Model.NumberOfPages pages</p>
            <p>
                <b> First published: </b> <time>@(Model.PublicationDate.HasValue ? Model.PublicationDate.Value.ToString("MMMM dd, yyyy", new CultureInfo("en-US")) : "")</time>
            </p>
                <div style="display:inline">
                    <h1>Rating and Reviews</h1>
                </div>
                @if (Model.Reviews.Any())
                {
                    foreach (var review in Model.Reviews)
                    {
                    <div class="img-box">
                            <img src="~/images/read.png" alt="">@review.User.FirstName @review.User.LastName
                        </div>
                            @switch (review.Rating)
                            {
                                case 1:
                                    <span class="star" data-value="1">★☆☆☆☆</span>
                                    break;
                                case 2:
                                    <span class="star" data-value="1">★★☆☆☆</span>
                                    break;
                                case 3:
                                    <span class="star" data-value="1">★★★☆☆</span>
                                    break;
                                case 4:
                                    <span class="star" data-value="1">★★★★☆</span>
                                    break;
                                case 5:
                                    <span class="star" data-value="1">★★★★★</span>
                                    break;
                            }
                            
                            <section>@review.ReviewText</section>
                    
                        <hr />
                    }
                }
            @if (User.IsInRole("User"))
            {
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 text-center">
                        <div class="img-box">
                            <img src="~/images/reviewUser.png" alt="">
                        </div>
                        <h3>What do <i>you</i> think?</h3>
                        <a class="btn btn-primary" asp-action="Add" asp-controller="Review" asp-route-bookid="@Model.Id">Write a Review</a>
                    </div>
                </div>

            }

        </div>      
    </div>
</div>
